*{
    margin: 0;
    padding: 0;
}

/* navbar style start */

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0 150px 120px 150px;
}

#logo{
   margin-top: 24px;
}

.nav-items ul{
    display: flex;
    justify-content: space-around;
    gap: 48px;
    margin-top: 52px;
    
}

.nav-items ul li{
    list-style: none;
    font-family: "Inter", sans-serif;
}

#about-us, #shop{
     color: #8987A1;
     opacity: 50%;
}


.nav-items ul li a{
    text-decoration: none;
}


#home{
color: #252432;
font-weight: 700;
}

#cart{
color: #000000;
}


#home a:visited{
    color: #252432;
}

#cart a:visited{
    color: #000000;
}


#about-us a:visited{
 color: #8987A1;
}

#shop a:visited{
 color: #8987A1;
}




/* navbar style end */

/* hero section style start */
.hero-sec{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
}

.hero-detail{
    margin-top: 50px;
}

.hero-detail h1{
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-size: 65px;
}


.hero-detail p{
    font-family: "Inter", sans-serif;
    color: #000000;
    opacity: 50%;
    font-size: 22px;
}


/* hero section style end */

/* card section start */

.card{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 60px;
    
}

.card-title{
    text-align: center;
}

.card-title h1{
    font-size: 50px;
    font-family: "Noto Serif", serif;
    font-weight: 700;
}

.card-title p{
    font-size: 22px;
    color: #000000;
    opacity: 50%;
    margin-top: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    gap: 30px 20px;
    text-align: center;
}

#product-name, #product-price{
    color: #111111;
    font-size: 22px;
    font-family: "Inter", sans-serif;
    text-align: center;
}

#product-name{
    font-weight: 400;
    margin-top: 20px;
}

#product-price{
    font-weight: 700;
    margin-top: 10px;
}

.add-to-cart{
    background-color: #E95A08;
    padding: 19px 88px;
    color: white;
    border: none;
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

/* card section ends */

/* Flower store section start */
.flower-store{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 210px;
    display: flex;
    gap: 80px;
    
}

.store-details{
    align-content: center;
}

.store-details h1{
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: 800;
}

.store-details ul li{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 400;
    opacity: 50%;
    margin: 20px auto auto 40px;

}

.store-img{
    position: relative;
    
}

.badge-img{
    position: absolute;
    z-index: 1;
    margin-top: -695px;
    margin-left: 360px;

}

.badge-img img{
    height: 280px;
    width: 280px;
    filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.50));
}
/* Flower store section end */

/* Deals section start */

.deals{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 120px;
    display: none;
}


.deal-txt{
    margin-top: 133px;
    text-align: center;
}

.deal-txt h1{
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: bold;
}

.deal-txt p{
    font-size: 22px;
    font-family: "Inter", sans-serif;
    opacity: 50%;
    margin: 16px auto 120px auto;
    font-weight: 400;
}


.deal-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 18px 25px;
}


.banner-1{
    grid-row-start: 1;
}

.banner-2{
    grid-row-start: 2;
}

.banner-3{
    grid-row: span 2 / span 2;
}


.banner-info{
    position: relative;
}

.small-txt h2{
    position: absolute;
    transform: translate(40%, -500%);
    font-family: "Noto Serif", serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.small-txt a{
    position: absolute;
    transform: translate(180%, -550%);
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin-top: 10px;
}


.shop-now{
    position: relative;
    transform: translate(50%, -450%);
}


.large-txt{
    position: absolute;
    transform: translate(10%, -205%);
     font-family: "Noto Serif", serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.large-txt a{
    font-size: 28px;
    text-align: center;
    color: white;
    font-family: "Inter", sans-serif;
    margin-left: 250px;
}


.banner-img img{
    border-radius: 20px;
    filter: brightness(60%);
}

/* Deals section end */


/* Join us section start */

.join-us{
    background-image: url(assets/news-letter-bg.png);
    background-repeat: no-repeat;
    max-width: 100%;
    height: 533px;
    background-size: cover;
    margin-bottom: 80px;
}

.join-content{
    text-align: center;
    padding-top: 160px;
}

.join-content h1{
    font-size: 50px;
    font-weight: bold;
    font-family: "Noto Serif", serif;
    color: white;
    margin-bottom: 22px;
}


.join-content form input::placeholder{
    font-family: "Inter", sans-serif;
    opacity: 50%;
    font-size: 16px;
    
}


.join-content form input{
    padding: 22px 540px 20px 20px;
    border: none;
}


.join-content form button{
    background-color: #E95A08;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 19px 53px;
    border: none;
    transform: translate(-2%, 0);
}

/* Join us section end */

/* Footer section start */
.footer{
    display: flex;
    max-width: 1120px;
    margin: 0 auto;
    gap: 110px;
    
}

.branding-sec .link-col-1 .link-col-2{
    display: block;
    
}

.footer-font ul li{
    list-style: none;
    margin-bottom: 32px;
}

.footer-font ul li a{
    text-decoration: none;
    
}

.footer-font ul li a:visited{
    color: #6B7280;
}


.footer-font{
    color: #6B7280;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

.branding-sec p{
    font-size: 22px;
    margin-top: 16px;
}

.social-icon{
    display: flex;
    gap: 24px;
}

/* Footer section end */











/* shared codes */

#orange-txt{
    color: #E95A08;
}


/* mobile device mediaquary */

@media screen and (max-width: 576px){
#home, #shop, #about-us {
        display: none;
    }

.navbar{
    /* width: 90%; */
    margin: 0px 20px 28px 20px;

}

#cart{
    margin-top: 16px;
   font-size: 18px;
}

.hero-sec{
    flex-direction: column;
    
}

.hero-sec img{
    width: 100%;
}


.hero-detail{
    order: 1;
    margin: 28px 14px auto 14px;
}

.hero-detail h1{
    font-size: 24px;
}

.hero-detail p{
    font-size: 14px;
    margin-top: 12px;
}


.card{
    width: 100%;
    
}

.card-title h1{
    font-size: 24px;
}

.card-title p{
    font-size: 14px;
    font-weight: 400;
    margin: 16px 28px 28px 28px;
}

.card-title p br{
    display: none;
}

.products{
    grid-template-columns: repeat(2, 1fr);
    gap: 29px 5px;
    width: 100%;
    
}

.add-to-cart{
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 12px;
}

#product-name, #product-price{
    font-size: 16px;
}

.product-card img{
    width: 90%;
}

.badge-img{
    display: none;
}

.flower-store{
    flex-direction: column;
    gap: 18px;
    margin: 41px 16px 133px 16px;
}

.store-img img{
    width: 100%;
}

.store-details ul li{
    font-size: 14px;
}

.store-details h1{
    font-size: 24px;
    font-weight: bold;
    margin-left: 17px;

}


.join-us{
    width: 100%;
    height: 276px;

}

.join-content{
    padding-top: 70px;
}

.join-content h1{
    font-size: 20px;
}

.join-content form input{
    padding: 18px 80px 15px 20px;
}

.join-content form button{
    padding: 15px 12px;
    transform: translate(-4%, 0);
}

.footer{
    flex-direction: column;
    gap: 0;
    margin-left: 20px;
}

.branding-sec{
    width: 100%;
}

.branding-sec p{
    font-size: 16px;
    margin-bottom: 27px;
}

.branding-sec p br{
    display: hidden;
}

.link-col-2{
    margin-bottom: 0;
}

.social-icon{
    margin-bottom: 50px;
}

.deal-container{
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}

.banner-info{
    font-size: 20px;
}

.banner-info a{
    font-size: 16px;
}



}