*{
    margin: 0;
    padding: 0;
}

/* navbar style start */

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0 150px 120px 150px;
}

#logo{
   margin-top: 24px;
}

.nav-items ul{
    display: flex;
    justify-content: space-around;
    gap: 48px;
    margin-top: 52px;
    
}

.nav-items ul li{
    list-style: none;
    font-family: "Inter", sans-serif;
}

#about-us, #shop{
     color: #8987A1;
     opacity: 50%;
}


.nav-items ul li a{
    text-decoration: none;
}


#home{
color: #252432;
font-weight: 700;
}

#cart{
    color: #000000;
}


#home a:visited{
    color: #252432;
}

#cart a:visited{
    color: #000000;
}


#about-us a:visited{
 color: #8987A1;
}

#shop a:visited{
 color: #8987A1;
}




/* navbar style end */

/* hero section style start */
.hero-sec{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
}

.hero-detail{
    margin-top: 50px;
}

.hero-detail h1{
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-size: 65px;
}


.hero-detail p{
    font-family: "Inter", sans-serif;
    color: #000000;
    opacity: 50%;
    font-size: 22px;
}
/* hero section style end */

/* card section start */

.card{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;
    
}

.card-title{
    text-align: center;
}

.card-title h1{
    font-size: 50px;
    font-family: "Noto Serif", serif;
    font-weight: 700;
}

.card-title p{
    font-size: 22px;
    color: #000000;
    opacity: 50%;
    margin-top: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    gap: 30px 20px;
    text-align: center;
}

#product-name, #product-price{
    color: #111111;
    font-size: 22px;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.add-to-cart{
    background-color: #E95A08;
    padding: 19px 80px;
    color: white;
    border: none;
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

/* card section ends */







/* shared codes */

#orange-txt{
    color: #E95A08;
}


/* mobile device mediaquary */

@media screen and (max-width: 576px){
#home, #shop, #about-us {
        display: none;
    }

.navbar{
    margin: 0px 20px 28px 20px;

}

#cart{
    margin-top: 16px;
   font-size: 18px;
}

.hero-sec{
    flex-direction: column;
}

.hero-detail{
    order: 1;
    margin: 28px 16px auto 16px;
}

.hero-detail h1{
    font-size: 24px;
}

.hero-detail p{
    font-size: 14px;
    margin-top: 13px;
}

.hero-img{
    max-width: 100%;
}


.card{
    margin-top: 50px;
    max-width: 100%;
}

.card-title h1{
    font-size: 24px;
}

.card-title p{
    font-size: 14px;
    font-weight: 400;
    margin: 16px 28px 28px 28px;
}


.products{
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 20px;
    max-width: 100%;
    margin: auto 15px;
    
}

.add-to-cart{
    padding: 19px 30px;
    font-size: 16px;
}

#product-name, #product-price{
    font-size: 16px;
}


}